<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartLabSK"
        tools:targetApi="31">
        <activity
            android:name=".CreateCardScreen"
            android:exported="false" />
        <activity
            android:name=".PatientCardScreen"
            android:exported="false" />
        <activity
            android:name=".BasketScreen"
            android:exported="false" />
        <activity
            android:name=".PasswordScreen"
            android:exported="false" />
        <activity
            android:name=".AnalysesScreen"
            android:exported="false" />
        <activity
            android:name=".EmailCode"
            android:exported="false" />
        <activity
            android:name=".EmailReg"
            android:exported="false" />
        <activity
            android:name=".LoadingScreen3"
            android:exported="false" />
        <activity
            android:name=".LoadingScreen2"
            android:exported="false" />
        <activity
            android:name=".LoadingScreen1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>